.ember-application {
    padding: 20px;
}

body {
    background: 
    /* bottom, image */
    url("../imgs/0.jpg")
    no-repeat center center fixed;

    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

html, body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.map-container
{
    height: 100%;
}

.live-map
{
    width: 100%;
    height: 100%;
}

.ember-view,
.container-fluid,
.row-fluid { height: inherit; }

.content-row
{
    height: 95%;
}